.font-GGG-B {
  font: 700 2.5rem "Poppins", sans-serif;
}

.font-GG-B {
  font: 700 2rem "Poppins", sans-serif;
}

.font-G-B {
  font: 700 1.3rem "Poppins", sans-serif;
}
.font-G {
  font: 600 1.3rem "Poppins", sans-serif;
}

.font-MM-B {
  font: 600 1.1rem "Roboto", sans-serif;
}

.font-MM {
  font: 400 1.1rem "Roboto", sans-serif;
}

.font-M {
  font: 400 0.8rem "Roboto", sans-serif;
}
